.contact {
    min-height: calc(70vh -70px);
    margin-top: 5%; 
    
  }

  .formbtn{
      border-radius: 10px;
  }

  .line {
    
    text-align: center; 
    border-bottom: 2px dotted rgb(25,25,112); 
    line-height: 0.1em;
    margin: 10% 16% 5% 16%;
    text-shadow: 2px 1px #494848;
    
  

  }

  .line span { 
    background:#fff; 
    padding:0 10px; 
    font-size: xx-large;
    
}